// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Poppins-Light';
    font-weight: normal;
    src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}

ion-header{
    box-shadow: 0px 1px 0px #085fa1;
}

.sideMenuList {
    text-align: center;
    font-family: 'Poppins-Light';
}

.sideMenu {
    background-color: #204D73;
}